# Caddyfile для Kwork Parser & VK Bot
# Домен: kworkpas.mak-o.ru
# Используется с включенным проксированием Cloudflare (Orange Cloud)

http://kworkpas.mak-o.ru {
    # HTTPS терминируется на стороне Cloudflare, здесь только HTTP
    reverse_proxy localhost:3001 {
        header_up X-Real-IP {header.CF-Connecting-IP}
        header_up X-Forwarded-For {header.CF-Connecting-IP}
    }

    # Логирование запросов в файл (Caddy создаст директорию автоматически)
    log {
        output file /var/log/caddy/kwork_parser_access.log {
            roll_size 10mb
            roll_keep 5
        }
    }
}
